.bounce{
  position: relative;
  display: block;
  animation: moveX 10s linear 0s infinite alternate, moveY 10s linear 0s infinite alternate;
}

@keyframes moveX {
  from { left: 0; } to { left: 90%; }
}

@keyframes moveY {
  from { top: 0; } to { top: 400px; }
}